<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beazle.pursuitvolley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/MainAppTheme">
        <activity android:name=".Player.PlayerBookAnAppointmentFlow.PlayerBookAnAppointmentActivity"></activity>
        <activity android:name=".Player.PlayerProfile.PlayerUpcomingEvents.UpcomingEventDetailsActivity" />
        <activity android:name=".Coach.CoachProfile.CoachSchedule.CoachAppointmentsPage.CoachAppointmentPage.CoachScheduleAppointmentPage" />
        <activity android:name=".Player.PlayerInfoEntryActivity" />
        <activity android:name=".Player.PlayerPaymentFlow.PlayerPaymentBrainTreeActivity" />
        <activity android:name=".Player.PlayerPaymentFlow.PlayerPaymentGooglePayActivity" />
        <activity android:name=".Player.PlayerPaymentFlow.PlayerPaymentResultActivity" />
        <activity android:name=".Player.PlayerPaymentFlow.PlayerPaymentAdyenAcivity" />
        <activity android:name=".Player.PlayerProfile.PlayerProfileActivity" />
        <activity android:name=".Player.PlayerPaymentFlow.PlayerCheckoutActivity">

            <!-- Email Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />
                <data android:mimeType="text/plain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- SMS Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:mimeType="text/plain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Coach.CoachInfoEntryActivity" />
        <activity android:name=".Coach.CoachProfile.CoachProfileActivity" />
        <activity android:name=".Player.PlayerAuthentication.PlayerLoginActivity" />
        <activity android:name=".Coach.CoachAuthentication.CoachLoginActivity" />
        <activity android:name=".Coach.CoachTimeSelection.CoachTimeSelectionActivity" />
        <activity android:name=".Coach.CoachDateSelection.CoachDateSelectionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Facebook Integration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" /> <!-- Google Pay Integration -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>